<div class="control-panel">
  <div *ngIf="isLoading" class="disable-panel">
    <div class="loader"></div>
  </div>
  <div class="message">{{message$ | async}}</div>
  <div class="change-data-panel">
    <ul class="change-data-inputs">
      <li><label>Name:</label></li>
      <li><input [(ngModel)]="nameModel" ngDefaultControl></li>
      <li><label>Type:</label></li>
      <li><input [(ngModel)]="typeModel" ngDefaultControl></li>
    </ul>
    <button (click)="addObject(nameModel, typeModel)">Proceed</button>
  </div>
</div>
