table {
  width: 800px;
  margin-top: 50px;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 5px;
}

.actions {
  &-header {
    width: 70px;
  }

  &-cell {
    text-align: center;

    .delete-icon {
      font-size: 23px;
      color: #d02c2c;
      cursor: pointer;
    }

    .edit-icon {
      padding-top: 3px;
      font-size: 17px;
      color: #d5d568;
      cursor: pointer;
    }

    .save-icon {
      font-size: 20px;
      padding-top: 2px;
      color: #24d924;
      cursor: pointer;
    }
  }
}
